*{
    margin: o;
    padding: 0;
}
.maindiv{
    height: 300px;
   
}
.headdiv{
    color: rgb(209, 208, 224);
    background-color: rgb(240, 3, 3);
    text-align: center;
   padding: 10px;
}

.div1{
    background-color: rgb(166, 255, 0);
    text-align: center;
    padding: 20px;
    

}
.div1 a{
    text-decoration: none;
    margin: 25px;
    border: 2px solid rgb(255, 94, 0);
    border-radius: 15px;
    padding: 8px;
    
}
.bodydiv{
    color: indigo;
    background-color: lightblue;
    text-align: justify;
    margin: 0 auto;
    padding: 20px;
    margin-top: -10px;
    
   
}
.footer{
    color: hotpink;
    color: lawngreen;
    text-align: center;
    padding: 5px;
}
.ssss{
    width: 100%;

}
.ssss img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}